@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #5b5b66;
}

::-webkit-scrollbar-track {
  background-color: darkgray;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717e;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  -webkit-animation: all ease-out 0.5s;
          animation: all ease-out 0.5s;
}

.nav--bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #363543;
  width: 100%;
  z-index: 2;
}

.nav--bar h3 {
  padding: 0px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inherit;
}

.nav--bar .nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav--bar .nav--list li {
  list-style: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav--bar .nav--list li a {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--bar .nav--list :hover {
  background-color: darkgray;
  color: black;
}

#about--section {
  padding-top: 100px;
  height: 65vh;
  color: white;
  background: url(images/guru2.jpg) rgba(0, 0, 0, 0.41);
  background-size: 100% 80%;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#about--section .main--div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 5fr;
      grid-template-columns: 10fr 5fr;
  width: 94%;
  padding: 0px 20px;
  gap: 26rem;
  height: 50vh;
  margin-right: auto;
  margin-left: auto;
}

#about--section .main--div .bio--div {
  padding: 20px;
}

#about--section .main--div .bio--div .im {
  font-size: 40px;
  color: #878696;
}

#about--section .main--div .bio--div .sec1--name {
  font-size: 60px;
}

#about--section .main--div .bio--div p {
  width: 250px;
  font-size: 20px;
  font-weight: 350;
  text-align: justify;
}

#about--section .main--div .bio--div .cv--btn {
  width: 150px;
  border: 2px orange solid;
  padding: 20px;
  font-weight: 700;
  margin-top: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, orange), color-stop(50%, transparent));
  background: linear-gradient(to right, orange 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  margin-left: 20px;
  font-size: 16px;
  color: white;
}

#about--section .main--div .bio--div .cv--btn:hover {
  background-position: left bottom;
  cursor: pointer;
  color: white;
  -webkit-box-shadow: #fff 0 0 9px;
          box-shadow: #fff 0 0 9px;
}

#about--section .main--div .contact--div {
  padding-top: 7rem;
  text-align: center;
  font-size: 20px;
}

#about--section .main--div .contact--div a {
  text-align: left;
  color: orange;
  text-decoration: none;
}

#about--section .main--div .contact--div a i {
  padding-left: 10px;
}

#about--section .main--div .contact--div a:hover {
  text-shadow: #faa4a4 0 0 10px;
}

#about--section .main--div .contact--div .icon--container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about--section .main--div .contact--div .icon--container i {
  font-size: 28px;
  padding: 10px;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  border-radius: 50%;
  color: orange;
  margin-right: 15px;
}

#about--section .main--div .contact--div .icon--container :hover {
  -webkit-transform: rotate(4deg) scale(1.12);
          transform: rotate(4deg) scale(1.12);
  cursor: pointer;
  color: white;
}

#project--section {
  height: 350px;
  background-color: darkgray;
  padding-top: 20px;
}

#project--section .ach--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

#project--section .ach--div .ach--btn {
  width: 350px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #2a2a2c), color-stop(50%, transparent));
  background: linear-gradient(to right, #2a2a2c 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  border-width: 0.6px 0.6px 0px 0.6px;
  color: black;
  font-size: inherit;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 9px #464857;
          box-shadow: 0px 9px #464857;
}

#project--section .ach--div :hover {
  background-position: left bottom;
  color: orange;
}

#project--section .ach--div :active {
  background-color: #2d2e31;
  -webkit-box-shadow: 0px 5px #3f414d;
          box-shadow: 0px 5px #3f414d;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#project--section .project--header {
  text-align: center;
  color: #363543;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

#contact--section {
  height: 100vh;
  background-color: #222221;
  padding: 100px 0px 0px 20px;
  color: white;
}

#contact--section h2 {
  text-align: center;
  border-bottom: 4px solid #3b5998;
  padding-bottom: 10px;
}

#contact--section .forms {
  padding: 30px;
  display: -ms-grid;
  display: grid;
}

#contact--section .forms input {
  border: none;
  height: 20px;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0px;
}

#contact--section .forms textarea {
  padding: 20px;
  margin-top: 10px;
}

#contact--section .forms #mob--no {
  margin-bottom: 20px;
}

#contact--section .forms .submit--btn {
  font-size: large;
  padding: 0px 20px;
  height: 50px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #3b5998;
  color: white;
}

#contact--section .forms .submit--btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.contact--nav {
  background-color: #222221;
  padding: 20px 20px 20px 0px;
  font-size: 20px;
  border: solid;
  border-width: 0.6px 0px;
}

.contact--nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.contact--nav :hover {
  background-color: white;
  color: black;
}

.footer--section {
  background-color: darkcyan;
  color: white;
}

#ach--sec {
  background-color: #202028;
}

#ach--sec .ach--title {
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid orange;
}

#ach--sec .cards {
  width: 80%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

#ach--sec .cards .card {
  -webkit-box-shadow: #2fff00 0 0 15px;
          box-shadow: #2fff00 0 0 15px;
  background-color: #2e2b2b;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-box-shadow: -3px 3px 10px 0px black;
          box-shadow: -3px 3px 10px 0px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  display: block;
  padding-bottom: 70px;
}

#ach--sec .cards .card img {
  width: 100%;
  height: 100%;
  display: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#ach--sec .cards .card p {
  text-align: center;
  padding-top: 60px;
}

@media only screen and (max-width: 1300px) {
  #about--section {
    height: 100vh;
    background: url(./images/guru4.jpg) rgba(0, 0, 0, 0.41);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #about--section .main--div {
    width: 100%;
    gap: 10rem;
  }
}

@media only screen and (max-width: 1000px) {
  #about--section .main--div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  #about--section .main--div .contact--div {
    padding: 0px;
  }
}

@media only screen and (max-width: 762px) {
  .nav--bar {
    border: black;
    border-width: 0.4px 0px;
  }
  #about--section {
    width: 100%;
    background: #1a1b21;
  }
  #about--section .main--div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about--section .main--div .bio--div {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
  #about--section .main--div .bio--div .cv--btn {
    margin-right: auto;
    margin-left: auto;
  }
  #about--section .main--div .contact--div {
    padding-top: 4rem;
  }
  #about--section .main--div .contact--div h5 {
    display: none;
  }
  #project--section .project--header {
    padding-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */